<div class="menu">
  <div class="brand">
    <img class="icon" src="../assets/img/icon.png" alt="logo" />
    <div class="brand-text">
      <h1 translate class="title">menu.pomodoro</h1>
      <em class="subtitle">Focus Edition</em>
    </div>
  </div>
  <button class="screen-mode">
    <img class="mode-icon" src="../../assets/img/change-mode.svg" alt="">
    <span class="mode-text">Dark Mode</span>
  </button>
  <div class="flag-group">
    <img
      class="flag"
      (click)="changeLanguage('pt')"
      src="../assets/img/br.svg"
      alt="pt"
    />
    <img
      class="flag"
      (click)="changeLanguage('en')"
      src="../../assets/img/us.svg"
      alt="en"
    />
  </div>
</div>
