.circle {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid white;
  border-radius: 50%;
  width: 300px;
  height: 300px;

  .counter {
    color: #ffffff;
    font-size: 3em;
  }
}

.auto-button {
  display: block;
  border: none;
  margin: 1em auto;
  min-width: 100px;
  border-radius: 5px;
  padding: .25em;
  background-color: #ffffffbe;
  cursor: pointer;

  &:hover {
    background-color: #ffffffdf;
  }
}

.button {
  display: block;
  border: none;
  cursor: pointer;
  margin: 1em 0;
  margin: 0 auto;
  width: 300px;
  height: 50px;

  &.pause {
    color: white;
    background-color: #ff0000;

    &:hover {
      background-color: #ab0000;
    }
  }

  &.continue {
    background-color: lightgreen;

    &:hover {
      background-color: rgb(91, 240, 91);
    }
  }
}
