<app-timer-menu
  [mode]="mode"
  (modeSelected)="onMode($event)"
  (clear)="onClear()"
  [auto]="auto"
  (auto)="changeAuto($event)"
></app-timer-menu>
<app-timer
  [timer]="pomodoro"
  [clear]="clear"
  [auto]="auto"
  (finish)="finish($event)"
  *ngIf="mode === modeOptions.Pomodoro"
></app-timer>
<app-timer
  [timer]="shortBreak"
  [clear]="clear"
  [auto]="auto"
  (finish)="finish($event)"
  [autoBreak]="autoBreak"
  *ngIf="mode === modeOptions.ShortBreak"
></app-timer>
<app-timer
  [timer]="longBreak"
  [clear]="clear"
  [auto]="auto"
  (finish)="finish($event)"
  [autoBreak]="autoBreak"
  *ngIf="mode === modeOptions.LongBreak"
></app-timer>
